
	<div class='bold-line'></div>
	<div class='container'>
		<div class='window'>
			<div class='overlay'></div>
			<div class='content'>
				<div class='welcome'>Welcome User</div>
				<div class='subtitle'>Enjoy your day</div>	
				{{success}}

				<br><br><br><br>
			<div class='spacing'>Willing to logout? <a href="/logout" class='highlight'>click me</a></div>
			</div>
		</div>
	</div>